#map {
    height: 100%;	/* alto del elemento = 400px */
    width: 100%;	/* ancho del elemento = 100% de su elemento contenedor */
    border: none; /* borde 1px */
    position: absolute;
    z-index: 0;
}

#nav_bar {
    position: absolute;
    margin-top: 30px;
    margin-bottom: 0px;
    left: 30px;
    width: 50%;
    z-index: 100;
}

.logo {
    font-weight: bold;
}

.red {
    color: #f44336;
}

.yellow {
    color: #ffc107;
}

.green {
    color: #4caf50;
}

.blue {
    color: #0091ea;
}

/**
 * Estilos traidos de ejemplo en OpenLayers
 * http://openlayers.org/en/latest/examples/measure.html
 */
.tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
}

.tooltip-measure {
    opacity: 1;
    font-weight: bold;
}

.tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
}

.tooltip-measure:before, .tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}

.tooltip-static:before {
    border-top-color: #ffcc33;
}

/**
 * Estilos traidos de ejemplo en Bootsnipp
 * https://bootsnipp.com/snippets/featured/nav-sidebar-with-toggle-button
 */
.mini-submenu {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 4px;
    padding: 9px;
    /*position: relative;*/
    width: 42px;

}

.mini-submenu:hover {
    cursor: pointer;
}

.mini-submenu .icon-bar {
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
    margin-top: 3px;
}

.mini-submenu .icon-bar {
    background-color: #000;
}

#slide-submenu {
    background: rgba(0, 0, 0, 0.45);
    display: inline-block;
    padding: 0 8px;
    border-radius: 4px;
    cursor: pointer;
}
